---
import Header from "../components/Header.astro";

import MainLayout from "../layouts/MainLayout.astro";

---


<MainLayout>
	<Header></Header>
	<h1>
		KARRUSEL FESTIVAL
	</h1>

</MainLayout>

<style>
	

	h1{
		text-align: center;

	}

	.button{
		width: 100px;
		background-color: white;
	}
	
</style>