---
const name = await fetch("https://awivsnmnfdowxppafuru.supabase.co/rest/v1/Karruselfestival").then(response => response.json());

import MainLayout from "../layouts/MainLayout.astro";

import Card from "../components/Card.astro";

import Button from "../components/Button.astro";
---


<MainLayout>
	<h1>
		Test
	</h1>
	<div class="container">

		<Card title="hej" body="jeg er bfueef" />
		<Card title="hej" />
		<Card title="hej" />
		<Card title="hej" />
		<Card title="hej" />
		<Card title="hej" />
		<Card title="hej" />
		<Card title="hej" />
	</div>
	<Button>Jeg er button</Button>
</MainLayout>

<style>
	.container{
		display: flex;
	}

	.button{
		width: 100px;
		background-color: white;
	}
	
</style>